.homepage {
  margin: 0 auto;
  /* flex: 1; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
  padding: 2% 0 1rem 5%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.fadeIn {
  opacity: 1;
}
.homepage_up {
  column-count: 2;
  column-gap: 1.5rem;
  width: 100%; /* Уменьшаем ширину, чтобы контейнер был по центру */
  max-width: 800px; /* Ограничиваем максимальную ширину для лучшего центрирования */
  padding-top: 1rem;
}

.homepage_up > div {
  break-inside: avoid;
  margin-bottom: 1.5rem;
}
.homepage_down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.homepage_down {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 1.75rem 0 3.5rem;

}
